:root {
  --contianer-padding: 4.8rem;
}
.container {
  width: 80%;
  margin: 0 auto;
  background-color: var(--secondary);
  border: 2px solid var(--border);
  padding: 0 var(--contianer-padding);
}
.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--contianer-padding) + var(--contianer-padding));
  margin-left: calc(var(--contianer-padding) * -1);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: initial;
  transition: 0.3s;
}
.flex {
  display: flex;
  align-items: center;
}
button {
  all: unset;
  cursor: pointer;
}
button:active {
  scale: 0.9;
}
.scroll2Top {
  background-color: rgba(25, 118, 210, 0.85);
  color: var(--title);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}
.scroll2Top:hover {
  background-color: rgb(25, 118, 210);
}
.scroll2Top:active {
  opacity: 1;
}
@media (max-width: 1000px) {
  .container {
    --contianer-padding: 1.7rem;
    width: 90%;
    padding: 1.7rem;
  }
}
@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 0 var(--contianer-padding);
  }
  .scroll2Top {
    opacity: 0.6;
    width: 2.2rem;
    height: 2.2rem;
  }
}
